@import url(https://fonts.googleapis.com/css2?family=BioRhyme:wght@200;300;400;700;800&display=swap);

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "BioRhyme", sans-serif;
  margin: 0;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #d5ded9;
  z-index: 1;
  overflow: hidden;
}

#black-rectangle {
  background-color: black;
  z-index: -1;
  position: absolute;
  top: 0;
  width: 100%;
  height: 30rem;
}

#header-img {
  display: block;
  width: 80%;
  margin: auto;
  padding-top: 0.5rem;
}

#nav-bar {
  margin-top: 0;
}

#nav-bar ul {
  padding: 0;
  margin-top: 0.7rem;
}

#nav-bar li a {
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
  color: black;
  position: relative;
}

.nav-link {
  list-style-type: none;
}

.arrow-down {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  /* position: relative; */
}

.arrow-down::after {
  content: "";
  width: 2rem;
  height: 2rem;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: 3s arrow infinite ease;
  animation: 3s arrow infinite ease;
}

@-webkit-keyframes arrow {
  0%,
  100% {
    top: 75%;
  }
  50% {
    top: 85%;
  }
}
@keyframes arrow {
  0%,
  100% {
    top: 75%;
  }
  50% {
    top: 85%;
  }
}

#top {
  margin-top: 9.1rem;
  background-color: black;
  color: white;
  position: relative;
}

#top h1 {
  margin: 0 2rem;
  position: relative;
  top: 20px;
}

#top p {
  margin: 5rem 2rem 0 4rem;
  position: relative;
  /* padding-bottom: 0; */
}

#top p::before {
  content: "";
  display: inline-block;
  position: absolute;
  margin-left: -1rem;
  width: 0.4rem;
  height: 100%;
  background-color: white;
}

#top img {
  position: relative;
  top: 0.41em;
  object-fit: cover;
  object-position: 0px 100%;
  height: 200px;
  width: 100%;
}

#features {
  margin: 2rem 0;
}

#flaticon-div {
  margin-left: auto;
  margin-right: auto;
  width: 10rem;
  position: relative;
}

.flaticon {
  filter: invert(95%) sepia(10%) saturate(741%) hue-rotate(344deg)
    brightness(93%) contrast(82%);
  width: 5rem;
  display: block;
  margin: auto;
  position: relative;
}

#background-flaticon {
  position: absolute;
  top: -0.5rem;
  left: 0.5rem;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-color: #ebebeb;
  z-index: -1;
}

.title-features {
  margin-top: 1.5rem;
  text-align: center;
}

.description-item {
  text-align: center;
}

#howItWorks {
  background-color: black;
  color: white;
}

#text {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#description-video {
  margin: 2rem;
  margin-left: 0;
}

#youtube-logo {
  width: 10%;
  height: 100%;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(138deg)
    brightness(104%) contrast(108%);
  margin: 2rem;
}

#video {
  display: block;
  margin: auto;
  width: 90%;
  height: 260px;
  padding-bottom: 2rem;
}

.pricing-model {
  width: 80%;
  margin: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
  border: 1px solid lightgray;
  box-shadow: 0.3rem 0.3rem #d9ceb2;
  border-radius: 5px;
}

.category {
  color: hsl(43, 34%, 60%);
  text-transform: capitalize;
  margin: 0;
}

.price {
  font-weight: 650;
  color: gray;
  position: relative;
  bottom: 0.5rem;
}

.price::before {
  content: " ";
  position: absolute;
  width: 1.2rem;
  height: 0.15rem;
  background: gray;
  margin-left: -1.4rem;
  margin-top: 0.8rem;
}

.price::after {
  content: " ";
  position: absolute;
  width: 1.2rem;
  height: 0.15rem;
  background: gray;
  margin-left: 0.2rem;
  margin-top: 0.8rem;
}

.btn-select {
  width: 80%;
  border: none;
  background-color: #ebebeb;
  cursor: pointer;
  font-weight: bold;
  padding: 0.5rem 0;
}

.btn-select:hover {
  transform: scale(1.01);
  background-color: #bfbfbf;
}

#image-trumpet-outdoor {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  object-position: 100% 100%;
}

#get-started p {
  text-align: center;
  margin: 1rem 10%;
}

#form {
  display: block;
  margin-left: 20%;
  margin-right: 20%;
}

#get-started input {
  border-radius: 2px;
  border: 1px solid rgb(212, 212, 212);
  padding: 0.3rem;
  width: 100%;
  margin: auto;
}

.btn-get-started {
  border-radius: 2px;
  border: none;
  padding: 0.3rem;
  cursor: pointer;
  background-color: #ebebeb;
  font-weight: bold;
  width: 100%;
  margin-top: 0.7rem;
}

#get-started button:hover {
  transform: scale(1.01);
  background-color: #bfbfbf;
}

footer ul {
  list-style-type: none;
  text-align: right;
  background-color: #d9ceb2;
  padding: 0.5rem;
  font-size: small;
  margin-bottom: 0;
}

footer li {
  display: inline;
  padding: 0 1rem;
}

footer li a {
  text-decoration: none;
  color: black;
}

footer p {
  background-color: black;
  color: white;
  text-align: center;
  font-size: small;
  margin: 0;
  padding: 0.5rem;
}

@media (max-width: 630px) {
  #nav-bar li a:hover::before {
    content: " ";
    position: absolute;
    width: 3rem;
    height: 0.05rem;
    background: black;
    margin-left: -3.5rem;
    margin-top: 0.8rem;
  }

  #nav-bar li a:hover::after {
    content: " ";
    position: absolute;
    width: 3rem;
    height: 0.05rem;
    background: black;
    margin-left: 0.5rem;
    margin-top: 0.8rem;
  }
}

@media (min-width: 630px) {
  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }

  #header-img {
    width: 40%;
    padding: 0;
    margin: 0;
  }

  #nav-bar {
    width: 60%;
  }

  nav ul li {
    display: inline-block;
    float: right;
    padding: 0 5%;
  }

  #nav-bar ul {
    margin-top: 0;
  }

  #nav-bar li a:hover::before {
    content: " ";
    position: absolute;
    width: 80%;
    height: 0.05rem;
    background: black;
    margin-left: 10%;
    margin-top: 1.5rem;
  }

  #top {
    margin-top: 6rem;
  }

  #black-rectangle {
    height: 10rem;
  }

  #top img {
    position: relative;
    top: 0.41em;
    left: 40%;
    object-fit: cover;
    object-position: 0px 100%;
    height: 200px;
    width: 615.2px;
  }
}

@media (max-width: 950px) {
  .feature-item {
    width: 80%;
    margin: auto;
    margin-bottom: 4rem;
  }

  .feature-item:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 950px) {
  #features {
    display: flex;
    justify-content: space-evenly;
  }

  .feature-item {
    padding: 0 2%;
  }

  #howItWorks {
    display: flex;
    justify-content: space-evenly;
  }

  #text {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
  }

  #youtube-logo,
  #description-video {
    margin: 0;
    height: 50%;
  }

  #youtube-logo {
    width: 30%;
  }

  #video {
    padding: 0;
    margin: 2rem 2rem 2rem 0;
    width: 50%;
  }

  #pricing {
    display: flex;
    justify-content: space-evenly;
  }

  .pricing-model {
    margin-left: 2%;
    margin-right: 2%;
  }

  #get-started {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  #get-started p,
  #email-input {
    width: 40%;
    margin: 2rem 0;
  }
}
